.dropdown-container {
    margin-top: -15px;
    width: 220px;

    .dropdown-wrapper {
        width: 100%;
        padding-top: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: min((100% - 96px) - 60px, 734px);
        border-radius: 5px;
        background-color: var(--white-);
        box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

        hr {
            margin: 0;
        }

        .dropdown-btn {
            width: 100%;
            border-bottom: 1px solid var(--border-color-);
            justify-content: flex-start;
            &:hover {
                color: var(--white-);
                background-color: var(--main-color-);
            }
        }
    }
}
