.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(86, 233, 137, 1) 0%,
        rgba(0, 186, 200, 1) 80%,
        rgba(0, 212, 255, 1) 100%
    );
    .login-container {
        width: 1300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 180px 0;

        .content-left {
            color: var(--white-);
            .detail {
                font-size: 2rem;
            }
        }

        .content-right {
            width: 360px;
            display: flex;
            flex-direction: column;
            padding: 48px 16px;
            gap: 15px;
            border-radius: 8px;
            border: 1px solid var(--border-color-);
            background-color: var(--bg-grey-);

            input {
                width: 100%;
                padding: 10px 16px;
                margin: auto 4px;
                font-size: 1.6rem;
                background-color: transparent;
            }
            button {
                padding: 10px 16px;
                margin: auto 4px;
                font-size: 1.6rem;
                color: var(--white-);
                background: linear-gradient(
                    90deg,
                    rgba(86, 233, 137, 1) 0%,
                    rgba(0, 186, 200, 1) 80%,
                    rgba(0, 212, 255, 1) 100%
                );
                border-radius: 10px;
            }

            .input-group {
                display: flex;
                position: relative;
                align-items: center;
                height: 100%;
                margin-bottom: 10px;
                background-color: var(--white-);
                border: 1px solid var(--border-color-);
                border-radius: 10px;

                .input-icon {
                    position: absolute;
                    right: 5%;
                    padding: 0 2px;
                    margin: 0;
                    font-size: 1.4rem;
                    color: var(--str-grey-);
                    background: transparent;
                }
            }

            .text {
                font-size: 1.4rem;
                text-align: center;
                color: var(--primary-);
                cursor: pointer;
            }

            .btn-signup {
                background: var(--primary-);
            }
        }
    }

    .signup-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0;
        background-color: rgba(0, 0, 0, 0.5);

        .signup-content {
            width: 420px;
            display: flex;
            flex-direction: column;
            padding: 48px 16px;
            gap: 20px;
            border-radius: 8px;
            border: 1px solid var(--border-color-);
            background-color: var(--bg-grey-);

            .signup-form {
            }
            input {
                width: 100%;
                padding: 10px 16px;
                margin: auto 4px;
                font-size: 1.6rem;
                background-color: transparent;
            }

            select {
                width: 100%;
                padding: 10px 12px;
                margin: auto 4px;
                font-size: 1.6rem;
                color: var(--str-grey-);
                background-color: transparent;
                border: none;
                outline: none;
            }

            button {
                padding: 10px 16px;
                margin: auto 4px;
                font-size: 1.6rem;
                color: var(--white-);
                background: linear-gradient(
                    90deg,
                    rgba(86, 233, 137, 1) 0%,
                    rgba(0, 186, 200, 1) 80%,
                    rgba(0, 212, 255, 1) 100%
                );
                border-radius: 10px;
            }

            label {
                font-size: 1.6rem;
                margin: 8px 4px;
            }

            .input-group {
                display: flex;
                align-items: center;
                height: 100%;
                margin-bottom: 10px;
                background-color: var(--white-);
                border: 1px solid var(--border-color-);
                border-radius: 10px;
            }
            .group-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;

                .btnsignup {
                    background: var(--primary-);
                }
            }
        }
    }
}
